.git
.gitattributes
.venv
venv
__pycache__
*.pyc
.pytest_cache
.mypy_cache
.ruff_cache
.env
dataset
sample
code
training
.ipynb_checkpoints
*.ipynb
tests
*.md
Report_Automated_Printed_Equation_Recognition_and_LaTeX_MathML_Conversion_from_Images.pdf
